<div mat-dialog-content>
  <div
    class="header"
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    "
  >
    <p>Restablecer contraseña de {{ user.username }}</p>
    <a (click)="onNoClick()" style="color: red">
      <mat-icon>highlight_off</mat-icon>
    </a>
  </div>
  <form [formGroup]="form" class="formContent">
    <mat-form-field appearance="outline">
      <mat-label>Nueva contraseña</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error style="font-size: small">Mínimo 8 caracteres</mat-error>
    </mat-form-field>

    <button mat-stroked-button color="primary" [disabled]="form.invalid" (click)="save()">
      Guardar &nbsp;
      <mat-icon>save</mat-icon>
    </button>
  </form>
</div>
